# Python
__pycache__
*.pyc
*.egg-info
/dist/
/build/
.ipynb_checkpoints

# Editor / OS
.idea
.vscode
*.swp
.DS_Store

# Logs
*.log
*.log.*
/logs/
wandb/

# Data / outputs
/data/
/checkpoints/
/work_dirs/
